#loginform {
    display: flex;
    flex-direction: column;
}

#loginform * {
    margin: 20px;
}

.form-check {
    display:flex;
    flex-direction: row;
}

.form-check-input {
    position: relative;
}

.checkbox {
    position: relative;
    top: 6px;
}